{% extends 'student/base.html' %}

{% block content %}

<div class="jumbotron">
<div class="container">
    <form method="POST" action="">
    {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form.visible_fields %}
            <div class="row">
                <div class="col-lg-2">
                    {{ field.label_tag }}

                </div>

            <div class="col-lg-2">
                {{ field }}
            </div>
            </div>
            <br>
        {% endfor %}
        <input class="btn btn-primary btn-lg" type="submit" value="Submit">
        <a class="btn btn-success" href = {% url 'list' %}><input type="button" value="back to list" class="btn btn-success" ></a>
    </form>
</div>
</div>


{% endblock %}